*rock_2.uasset filter=lfs diff=lfs merge=lfs -text
 filter=lfs diff=lfs merge=lfs -text
*clouds_voronoi.uasset filter=lfs diff=lfs merge=lfs -text
*clouds_classic.uasset filter=lfs diff=lfs merge=lfs -text
*blur_clouds.uasset filter=lfs diff=lfs merge=lfs -text
*rock_pocks.uasset filter=lfs diff=lfs merge=lfs -text
*rocky_and_sandy_ground_* filter=lfs diff=lfs merge=lfs -text
